<div class="card flex-row bg-white border-0 rounded-4 mb-4 shadow-sm position-relative">
  <%= link_to bike_path(booking.bike) do %>
    <%= cl_image_tag(booking.bike.photo.key, width: 300, crop: :fill, class: "rounded-start-4 bart3") %>
  <% end %>
  <div class="d-flex justify-content-between w-100">
    <div class="p-2 w-100">
      <h3><%= booking.bike.brand %> <%= booking.bike.model %> <%= booking.bike.year %></h3>
      <h5><%= booking.bike.location %></h5>
      <p class="mb-1 <%= booking.status %>"><i class="fa-solid fa-horse"></i> <%= booking.status.humanize %></p>
      <span class="fw-semibold"><%= number_to_currency(booking.total_price, locale: :ja, precision: 0, unit: '¥') %></span>
      <p><%= booking.start_date %> to <%= booking.end_date %></p>
      <% if booking.bike.user == current_user && booking.status == "pending" %>
        <div class="d-flex flex-row justify-content-end m-2 position-absolute bottom-0 start-0">
          <%= simple_form_for booking, url: owner_booking_path(booking) do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'confirmed'} %>
            <%= f.submit 'Confirm', class: 'btn btn-info rounded-4 shadow-sm' %>
          <% end %>
          <%= simple_form_for booking, url: owner_booking_path(booking) do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'declined'} %>
            <%= f.submit 'Decline', class: 'btn btn-light rounded-4 shadow-sm ms-3' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="text-start p-3 text-center">
    <% if booking.user.avatar.attached? %>
      <%= cl_image_tag(booking.user.avatar.key, class: "avatar-large mb-2") %>
    <% else %>
      <%= image_tag "https://res.cloudinary.com/dzmlzpvcj/image/upload/c_thumb,g_face,w_200,h_200/kuki-bikes/b0ritvkfoknzcthowqgo.jpg", class: "avatar-large mb-2", alt: "avatar-large" %>
    <% end %>
    <div class="text-secondary">from</div>
    <div class="fs-5 text-dark"><%= booking.user.first_name %></div>
  </div>
</div>
