<%= link_to bike_path(booking.bike) do %>
  <div class="card flex-row mb-2">
    <%= cl_image_tag(booking.bike.photo.key, width: 300, height: 200, crop: :scale) %>
    <div class="p-2">
      <h2><%= booking.bike.brand %> <%= booking.bike.model %> <%= booking.bike.year %></h2>
      <h3><%= booking.bike.location %></h3>
      <span><%= booking.status.humanize %></span>
      <p>¥<%= booking.total_price %></p>
      <span><%= booking.start_date %> to <%= booking.end_date %></span>
    </div>
  </div>
<% end %>
