<%= link_to bike_path(booking.bike) do %>
  <div class="card flex-row bg-white border-0 rounded-4 mb-4 shadow-sm">
    <%= cl_image_tag(booking.bike.photo.key, width: 300, height: 200, crop: :fill, class: "rounded-start-4 ") %>
    <div class="p-3">
      <h2><%= booking.bike.brand %> <%= booking.bike.model %> <%= booking.bike.year %></h2>
      <h5><%= booking.bike.location %></h5>
      <p class="mb-1"><%= booking.status.humanize %></p>
      <span class="fw-semibold">¥<%= booking.total_price %></span>
      <p><%= booking.start_date %> to <%= booking.end_date %></p>
    </div>
  </div>
<% end %>
