<div class="card my-2">
  <%= cl_image_tag("bike.photo.key") %>
  <h2><%= bike.brand %> <%= bike.model%> <%= bike.year %></h2>
  <h3><%= bike.location %></h3>
  <p>¥<%= bike.price_per_day %></p>
</div>
