<div class="card my-2">
  <%= cl_image_tag("bike.photo.key") %>
  <h2><%= bike.brand %> <%= bike.model%> <%= bike.year %></h2>
  <%= bike.location %>
  <%= bike.description %>
  <%= bike.price_per_day %>
</div>
