<%= link_to bike_path(bike, start_date: @start_date, end_date: @end_date) do %>
  <div class="card flex-row bg-white border-0 rounded-4 mb-4 shadow-sm">
    <% if bike.photo.attached? %>
      <%= cl_image_tag(bike.photo.key, width: 300, crop: :fill, class: "rounded-start-4 bart3") %>
    <% else %>
      <%= image_tag("https://res.cloudinary.com/dzmlzpvcj/image/upload/v1732161508/kuki-bikes/nknilcmpfeg0rdnkx6jz.png", width: 300, height: 200, crop: :fill, class: "rounded-start-4 ") %>
    <% end %>
    <div class="d-flex justify-content-between w-100">
      <div class="p-3">
        <h3><%= bike.brand %> <%= bike.model%> <%= bike.year %></h3>
        <div class="text-muted fs-5 pb-1 fw-semibold"><%= bike.location %></div>
        <span class="fw-semibold fs-5"><%= number_to_currency(bike.price_per_day, locale: :ja, precision: 0, unit: '¥') %></span> per day
      </div>
      <div class="text-start p-3 text-center">
        <% if bike.user.avatar.attached? %>
          <%= cl_image_tag(bike.user.avatar.key, class: "avatar-large mb-2") %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dzmlzpvcj/image/upload/c_thumb,g_face,w_200,h_200/kuki-bikes/b0ritvkfoknzcthowqgo.jpg", class: "avatar-large mb-2", alt: "avatar-large" %>
        <% end %>
        <div class="text-secondary">owned by</div>
        <div class="fs-5 text-dark"><%= bike.user.first_name %></div>
      </div>
    </div>
  </div>
<% end %>
