<%= link_to bike_path(bike) do %>
  <div>
    <% if bike.photo.attached? %>
      <%= cl_image_tag(bike.photo.key, width: 100, height: 100, crop: :fill) %>
    <% else %>
      <%= image_tag("https://res.cloudinary.com/dzmlzpvcj/image/upload/v1732161508/kuki-bikes/nknilcmpfeg0rdnkx6jz.png", width: 100, height: 100, crop: :fill) %>
    <% end %>
    <div>
      <p><%= bike.brand %> <%= bike.model%> <%= bike.year %></p>
      <p class="p-0"><%= bike.location %></p>
    </div>
  </div>
<% end %>
