<div class="row row-cols-2 gx-0 p-3 bg-white rounded-3 m-3">
  <div class="col-8 pe-3">
    <div style="height: 400px; object-position: center;" class="">
      <% if @bike.photo.attached? %>
        <%= cl_image_tag @bike.photo.key, crop: :fill, class: "w-100 h-100 rounded-3 object-fit-cover", style: "object-position: center;" %>
      <% else %>
        <div class="bg-secondary w-100 h-100 rounded-3 "></div>
      <% end %>
    </div>
    <div class="p-3">
      <h1><%= "#{@bike.brand} #{@bike.model} #{@bike.year}" %></h1>
      <h4><%= @bike.location %> - <%= number_to_currency(@bike.price_per_day, locale: :ja, precision: 0, unit: '¥') %> per day</h4>
      <h5>Description</h5>
      <%= @bike.description %>
    </div>
  </div>
  <% if @bike.user != @user %>
    <div data-controller="booking-price" data-booking-price-price-value="<%= @bike.price_per_day %>" class="col-4 pt-3">
      <%= simple_form_for @booking do |b| %>
        <%= b.input :bike_id, as: :hidden, input_html: { value: @bike.id } %>
        <%= b.input :start_date,  as: :string,
            input_html: { data: { controller: "datepicker",
            booking_price_target: 'start_date', action: 'change->booking-price#update' }, value: Date.today  } %>
        <%= b.input :end_date, as: :string,
            input_html: { data: { controller: "datepicker",
             booking_price_target: 'end_date', action: 'change->booking-price#update' }, value: Date.today + 1  } %>
        <%= b.submit 'Book', class: 'btn btn-primary mt-2' %>
      <% end %>
      <div class='mt-3'>
        <p class='fs-5 mb-1 text-secondary' data-booking-price-target='info'></p>
        <p class='fs-2 fw-bold' data-booking-price-target='price'></p>
      </div>
    </div>
  <% end %>
</div>
